.theme-default {
	background-color: #3c2410;

	& .page-title {
		color: #fff;
	}

	& .gameboard {
		background-color: #b0dfae;
		background-image: linear-gradient(#b0dfae, #76b773);
	}

	& .ranking {
		color: #fff;
	}

	& .options {
		background-color: #eee;
	}

	& .options__block {
		@media (--small-viewport) {
			background-color: #00000042;
		}
	}

	& .pageinfo {
		color: #fff;

		& a {
			color: #fff;

			&::after {
				border-bottom-color: #fff;
			}
		}
	}

	& .score__value {
		color: #e5f1e4;
	}
}
