.ranking {
    width: 160px;
    margin: 0 auto;
	padding: 0.3em 0 0.5em;
	font-size: var(--fzSmall);
	text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

	.ranking__top {
		font-weight: 700;
	}
