:root {
	--optionsWidth: 210px;
	--optionsSecPadd: 0.5em 10px;
}

.options {
	position: absolute;
	top: 0;
	z-index: 3;
	left: 100%;
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	transition: transform 0.3s ease;

	@media (--small-viewport) {
		width: var(--optionsWidth);
	}
}

	.options__block {
		display: none;
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		left: -100vw;
	}

	.options__toolbar {
		position: absolute;
		top: 0;
		right: 100%;
		z-index: 1;
		opacity: 0.3;
		transition: right 0.3s ease 0.15s;

		&:hover,
		&:focus {
			opacity: 1;
		}

		& .options__action::after {
			width: 34px;
			height: 34px;

			@media (--small-viewport) {
				width: 24px;
				height: 24px;
			}
		}
	}

		.options__action {
			display: inline-block;
			padding: 4px;
			cursor: pointer;
		}

		.options__close {
			position: absolute;
			right: 0;
			z-index: 1;
		}

	.options__section {
		position: relative;

		&:not(:first-of-type) {
			margin-top: 0.5em;
		}
	}

		.options__sectionTitle {
			margin: 0;
			padding: var(--optionsSecPadd);
			font-size: 1em;
			text-transform: uppercase;
			border-bottom: 1px solid rgba(0, 0, 0, 0.4);
		}

		.options__sectionContent {
			padding: var(--optionsSecPadd);
			font-size: var(--fzSmall);
		}

.options--open {
	transform: translateX(-100%);

	& .options__toolbar {
		right: -15%;
		transition: right 0.15s ease-out;
	}

	& .options__block {
		display: block;
	}
}
