html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0 10px;
}

.stage {
	position: relative;
	max-width: var(--wpSmall);
	height: 100%;
	padding: 44px 0 50px;
	overflow: auto;

	@media (--small-viewport) {
		margin: 0 auto;
		padding: 0;
	}
}
