.page-footer {
	position: absolute;
	width: 100%;
	margin-top: 0.7em;
	color: #fff;

	@media (--small-viewport) {
		position: relative;
		margin-top: 0.5em;
		color: initial;
	}
}

.pageinfo {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-size: var(--fzSmall);
	text-align: center;

	@media (--small-viewport) {
		text-align: right;
		color: initial;
	}
}

	.pageinfo__item {
		display: inline-block;

		&:nth-child(n+2)::before {
			content: "\2022";
			margin: 0 9px;
		}
	}
